<div ng-controller="TddComponentsCtrl" class="padding">
	<div class="card">
		<div class="item item-divider">
			Check glucose:  q4h
		</div>
		<div class="item item-divider">
			Basal Insulin, 20% TDD : ({{ tddPercentage(0.2) }} units)
		</div>
		<div class="item item-text-wrap">
			If Glargine:<br/>
			give {{ tddPercentage(0.2) }} q 24 hrs, as time critical order
		</div>
		<div class="item item-text-wrap">
			If NPH:<br/>
			give {{ tddPercentage(0.1) }} with b'fast, {{ tddPercentage(0.1) }} qhs
		</div>
		<div class="item item-divider">
			Nutritional Insulin, 80% TDD : ({{ tddPercentage(0.8) }} units)
		</div>
		<div class="item item-text-wrap">
			<ul style="list-style-type:disc">
			  <li>Providede as Aspart, administered q4h.</li>
			  <li>Divide equally into 6 daily doses ( {{ tddPercentage(0.8 * (1/6)) }} per dose)
			  <li>Hold for BG &lt; 100mg/dL or if TF disrupted > 2 h</li>
			</ul>
		</div>s
		<div class="item item-divider">
			Correctional Insulin
		</div>
		<div class="item item-text-wrap">
			q4h Aspart. Choose scale based on TDD
		</div>
	</div>
</div>