<div ng-controller="TddComponentsCtrl" class="padding">
	<div class="card">
		<div class="item item-divider">
			Check glucose:  qac and qhs
		</div>
		<div class="item item-divider">
			Basal Insulin, 40% TDD : ({{ tddPercentage(0.4) }} units)
		</div>
		<div class="item item-text-wrap">
			If Glargine:<br/>
			give {{ tddPercentage(0.4) }} q 24 hrs, as time critical order
		</div>
		<div class="item item-text-wrap">
			If NPH:<br/>
			give {{ tddPercentage(0.2) }} with b'fast, {{ tddPercentage(0.2) }} qhs
		</div>
		<div class="item item-divider">
			Nutritional Insulin, 60% TDD : ({{ tddPercentage(0.6) }} units)
		</div>
		<div class="item item-text-wrap">
			<ul style="list-style-type:disc">
			  <li>Providede as Aspart, given after each meal</li>
			  <ul style="list-style-type:circle">
				 <li>Divide dose equally by number of meals</li>
				 OR
				 <li>Utilize carb counting and consult endocrine if pt does this at home</li>
				</ul>  
			  <li>HOLD dose if nutritional intake < 50%/li>
			</ul>
		</div>
		<div class="item item-divider">
			Correctional Insulin
		</div>
		<div class="item item-text-wrap">
			MEALtime and BEDtime Aspart. Choose scale based on TDD
		</div>
	</div>
</div>