<div ng-controller="TddComponentsCtrl" class="padding">
	<div class="card">
		<div class="item item-divider">
			Check glucose:  qac and qhs
		</div>
		<div class="item item-divider">
			Basal Insulin, 40% TDD
		</div>
		<div class="item item-text-wrap">
			If Glargine:<br/>
			give {{ tddPercentage(0.4) }} q 24 hrs, as time critical order
		</div>
		<div class="item item-text-wrap">
			If NPH:<br/>
			give {{ tddPercentage(0.2) }} with b'fast, {{ tddPercentage(0.2) }} qhs
		</div>
		<div class="item item-divider">
			Nutritional Insulin, 60% TDD
		</div>
		<div class="item item-text-wrap">
			{{ tdd }} units/day
		</div>
		<div class="item item-divider">
			Correctional Insulin
		</div>
		<div class="item item-text-wrap">
			q4h Aspart. Choose scale based on TDD
		</div>
	</div>
</div>