<div ng-controller="StatsCtrl">
	<label class="item item-input">
	  <span class="input-label">Weight</span>
	  <input type="number" ng-model="stats.weight" min="0" max="999" placeholder="kg" autofocus>
	</label>
	<label class="item item-input">
	  <span class="input-label">BMI</span>
	  <input type="number" ng-model="stats.bmi" min="0" max="99" placeholder="0-99">
	</label>
	<!-- String: weight class indicator -->
	<div class="card">
		<div class="item item-divider">
			Weight Class
		</div>
		<div class="item item-text-wrap">
			{{bmiClass[0]}}
		</div>
		<div class="item item-divider">
			Estimated Total Daily Dose
		</div>
		<div class="item item-text-wrap">
			{{tdd}} units/day
		</div>
	</div>

	<button class="button button-block button-positive" ng-disabled="validateInputs()" ng-click="open()">
	  Continue
	  <i class="icon ion-ios7-arrow-right"></i>
	</button>
</div>