<!-- <div ng-controller="IndexCtrl">
  <ul class="list">
    <li class="item item-icon-right" ng-click="open(intakeCalculator.id)" ng-repeat="intakeCalculator in intakeCalculators">
      IntakeCalculator: {{ intakeCalculator.name }}
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ul>
</div>
 -->
<div>
	<div ng-controller="StatsCtrl">
		<span>Weight <input type="text" min="0" max="900" placeholder="Weight">{{stats.weight}} kg</span>
		<span>BMI <input type="text" min="0" max="999" placeholder="BMI">{{stats.BMI}}</span>
	</div>
	<span></span>
</div>