<div style="color: #FFFFFF;text-align: center;">
	<p class="padding" style="font-size:large;margin-top:20px;">Prescriber Tools for Inpatient Diabetes Management</p>
	<!-- <p class="padding" style="font-size:medium;">Johns Hopkins Hospital, 2014</p> -->
	<div ng-controller="IndexCtrl">
	  <ul class="list">
	    <li class="item item-icon-right" ng-click="open(main.appName)" ng-repeat="main in mains">
	      {{ main.name }}
	      <i class="icon ion-ios7-arrow-right"></i>
	    </li>
	  </ul>
	</div>
</div>